.functions{
    text-align: center;
}
.fun_container{
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.fun_img_wrap{
    width: 100%;
    padding: 0;
    justify-content: center;
}
.fun_img{
    height: auto;
    width:300px;
    object-fit: contain;
    justify-content: center;
}

.container-icon-details{
    display: flex;
    justify-content: center;
}

.container-icon-details h4{
    margin: 0;
    padding-left: 10px;
}