.navbar {
    left: 0;
    right: 0;
    /* padding-top: 50px; */
    background: transparent;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60px;
    width: 100%;
    margin: 0;
    z-index: 999;
    transition: .5s;
  }

  .navbar-up {
    left: 0;
    right: 0;
    /* padding-top: 50px; */
    background: #720000;
    height: 40px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: .5s;
  }
  
.nav-list{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.nav-item{
  padding: 10px;
  margin: auto;
}


@media screen and (max-width: 600px) {   
  .navbar{
    display: none;
  }
  .navbar-up{
    display: none;
  }
}