.navbar {
    left: 0;
    right: 0;
    /* padding-top: 50px; */
    background: transparent;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60px;
    width: 100%;
    margin: 0;
    z-index: 999;
    transition: .5s;
  }

.navbar-up{
  padding-top: 0!important;
  transition: .5s;
}
  
.nav-list{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.nav-item{
  padding: 10px;
  margin: auto;
}