.videosec{
    justify-content: center;
    width: 100%;
    text-align: center;
}


.vd{
    display: flex;
    justify-content: center;
    width: 62%;
    margin: auto;
}


@media screen and (max-width: 600px) {
    .vd{
        width:100%;
    }
  }